extends root_layout 

block root_content
  if files.length != 0
    ul.file-view
      each file in files 
        li
          a(href=folderUrl+file.link)
            div #{file.name}
            div #{file.size} bytes
  else
    .no-files-dialog.center-screen 
      p You currently have no files or folders stored here.
      nav 
        ul
          li.button-link 
            a(href=folderUrl + 'upload-file') Upload a file 
          li.button-link 
            a(href=folderUrl + 'create') Create a new folder