extends root_layout 

block root_content
  nav.folder-options
    ul
      li
        h2= title
      if !isRoot                         
        li 
          a(href=folderUrl + 'rename') Rename
        li 
          a(href=folderUrl + 'delete') Delete
        li 
          a(href=folderUrl + 'create') New Folder
  ul.file-view 
    if !isRoot 
      li
        a(href='/folder/' + parentId)
          img(src="/icons/folder.svg", alt="Folder Icon" width="32px")
          div ..

  if folders.length != 0
    ul.file-view 
      each folder in folders 
        li
          a(href='/folder/' + folder.id)
            img(src="/icons/folder.svg", alt="Folder Icon" width="32px")
            div #{folder.name}


  if files.length != 0
    ul.file-view
      each file in files 
        li
          a(href=folderUrl+file.link)
            img(src="/icons/file.svg", alt="File Icon" width="32px")
            div #{file.name}
            div #{file.size} bytes
  else
    .no-files-dialog.center-screen 
      p You currently have no files or folders stored here.
      nav 
        ul
          li.button-link 
            a(href=folderUrl + 'upload-file') Upload a file 
          li.button-link 
            a(href=folderUrl + 'create') Create a new folder